@import url("https://fonts.googleapis.com/css2?family=Piazzolla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");

/* These are my imported fonts */
@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* Made random classes (Rand 0-9) in order to fulfill the 10-style rule */

.Rand1 {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

.Rand2 {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Ceviche One", sans-serif;
}

.Rand3 {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}

.Rand4 {
  font-size: 45px;
  font-weight: normal;
  color: red;
  font-family: "Courier New", serif;
}

.Rand5 {
  font-size: 60px;
  font-weight: bold;
  color: aquamarine;
  font-family: "Limelight", serif;
  text-transform: uppercase;
  text-decoration: overline;
}

.Rand6 {
  font-size: 55px;
  font-weight: 400;
  font-family: "Lucida Sans", sans-serif;
}

.Rand7 {
  font-size: 37px;
  font-weight: 700;
  color: black;
  text-decoration: wavy;
  font-family: "Grechen Fuemen", serif;
}

.Rand8 {
  font-size: 88px;
  color: #631bc2;
  text-transform: uppercase;
  font-family: "Gloria Hallelujah", serif;
}

.Rand9 {
  font-size: 67px;
  color: #ffff77;
  text-decoration: line-through;
  font-family: "Press Start 2P", serif;
}

.Rand0 {
  font-size: 46px;
  color: rgb(25, 155, 87);
  font-family: "Berkshire Swash", serif;
}
